data/
.DS_Store
notebooks/local_experiment/*
notebooks/case_studies/.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
analysis_tools/bp_analysis/*
analysis_tools/__pycache__/*
blockparty_analysis.egg-info/*
